/* 
01--TYPOGRAPHY SYSTEM

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHTS: 
Default: 
Medium:
Semi-Bold: 
Bold: 

-LINE HEIGHTS:
Default: 
Small: 
Medium: 
Paragraph Default: 
Large: 

-LETTER SPACING:



--02 C0LORS

-Primary: #990505
-Tints: #ae0909 #5a2424
-Shades: #fdd8d8
-Accents:
-Grays: #151817 (background) #e4e4e4 #acacac;

--05 SHADOWS

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--06 BORDER-RADIUS
9px

Default:

--07 WHITESPACE

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/**********************************/
/*HEADER AND NAVIGATION*/
/*********************************/

.main-header {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  padding: 1.6rem 0;
  border-bottom: 1px solid #3f3f3f65;
  transition: 0.3s;
}

.nav-box {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  align-items: center;
}

.nav-box a:first-child {
  margin-right: auto;
}

.logo-typo {
  width: 15rem;
}

.nav-link:link,
.nav-link:visited {
  border-radius: 9px;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  display: inline-block;
  color: #fff;
  transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  text-shadow: 2px 0 #990505, -2px 0 #990505, 0 2px #990505, 0 -2px #990505,
    1px 1px #990505, -1px -1px #990505, 1px -1px #990505, -1px 1px #990505;
  /*  background-color: #333333; */
}

.nav-header ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: flex-end;
  list-style: none;
}

/**********************************/
/*STICKY NAV*/
/*********************************/

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  z-index: 11;
  background-color: #361717d8;
}

/**********************************/
/*MOBILE NAV*/
/*********************************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: white;
}

.icon-mobile-nav[name="close-circle-outline"] {
  display: none;
}

/**********************************/
/*HERO SECTION*/
/*********************************/

.main-section {
  height: 100vh;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-section {
  margin: 12.8rem auto 8rem auto;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.hero-description {
  color: #acacac;
}

.btn-box {
  display: flex;
  gap: 6.4rem;
}

.hero-img {
  width: 100%;
  pointer-events: none;
}

/**********************************/
/*PROFILE SECTION*/
/*********************************/

.profile-section {
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.8)),
    url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  padding: 0 3.2rem;
}

.profile h2 {
  grid-column: 1/-1;
  text-align: right;
}

.profile-text-box {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
}

.profile-quote {
  font-size: 2rem;
  line-height: 1.6;
  color: #e4e4e4;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

.profile-pic {
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.4rem;
}

.logo-img {
  grid-row: 1/3;
  grid-column: 2/3;
  justify-self: end;
  width: 4.8rem;
}

.profile-img {
  height: 70rem;
}

/**********************************/
/*GALERY SECTION*/
/*********************************/
.galery-section {
  background-color: black;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.galery-header {
  background-image: linear-gradient(rgba(34, 34, 34, 0.801), rgba(0, 0, 0, 0.8)),
    url(../img/galeryback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: solid 2px #151817;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.galery .secondary-heading {
  text-align: center;
  margin-bottom: 4.8rem;
}

/* Grid container */
.grid-galery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  max-width: 160rem;
  margin: 0 auto;
  padding: 3.2rem 2rem;
}

.grid-galery:nth-child(6) {
  grid-column: 7 / -1;
}

/* Grid items */
.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.2s;
}

.grid-item img:hover {
  transform: scale(105%);
}

/* Specific sizes for different image types */
.grid-item.horizontal {
  grid-column: span 2;
}

.grid-item.vertical {
  grid-row: span 2;
  grid-column: span 2;
}

.btn-close-modal {
  display: flex;

  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #5a2424;
  color: #ddd;
  font-size: 3.2rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-close-modal:hover {
  background-color: #692d2d;
}

/**********************************/
/*FEATURES SECTION*/
/*********************************/
.studio-img {
  filter: grayscale(30%);
  width: 85%;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.card-heading,
.card-description {
  text-align: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2rem 1.6rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(63, 63, 63, 0.396);
  border-radius: 5px;
  background-color: #1d1d1d;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.card-img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 55%;
}

.card-btn {
  align-self: center;
  text-align: center;
  width: 50%;
}

.more {
  text-align: center;
}

.card-description {
  font-size: 1.8rem;
  line-height: 1.7;
  color: #ddd;
  margin-bottom: 1.6rem;
}

.genres {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  color: #ddd;
}

.check-ico {
  color: #990505;
}

.streaming-card {
  grid-column: 1 / 3;
  justify-self: center;
  width: 50%;
}

.list-genres {
  transform: translate(-25%, 0);
}

/**********************************/
/*PORTFOLIO SECTION*/
/*********************************/
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.portfolio-section {
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(0, 0, 0, 0.8)),
    url(../img/fondo5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/**********************************/
/*CTA SECTION*/
/*********************************/

.cta-form-section .cta-form {
  row-gap: 2.4rem;
  column-gap: 1.8rem;
}

.cta-form-section input,
.cta-form-section select,
.cta-form-section textarea {
  font-size: 2rem;
  font-family: inherit;
  border: none;
  background-color: #5a2424;
  border-radius: 9px;
  padding: 0.6rem;
  color: rgb(240, 240, 240);
}

.cta-form-section select,
.cta-form-section textarea,
.cta-form-section button {
  grid-column: 1/3;
}

.cta *:focus {
  outline: none;
  transition: all 0.2s;
  box-shadow: 0 0 0 0.4rem #990505;
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #aaa;
}

.btn-submit {
  cursor: pointer;
  font-family: inherit;
  border: none;
  font-weight: 600;
  padding: 1.2rem 3.2rem;
  border-radius: 9px;
  font-size: 2rem;
  color: #e4e4e4;
  background-color: #333333;
}

.cta-banner,
.cta-form-section {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cta-card {
  padding: 3.2rem;
  background-color: #99050541;
  border-radius: 9px;
  box-shadow: 0 0 3rem #00000069;
}

/**********************************/
/*FOOTER SECTION*/
/*********************************/
.line {
  border-top: 3px solid #3f3f3f65;
  width: 100%;
}

.social-ico {
  transform: translate(0, -50%);
}

.footer-head,
.line-social {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 1.2rem;
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-message {
  font-size: 1.4rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
